.movies {
    display: flex;
    flex-direction: column;    
    width: 100vw;   
    max-width: 100%;
    margin: 0;    
    padding: 0;   
}

.movies__more-adding {
    width: 320px;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #424242;
    margin: 50px auto 80px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.movies__more-btn {
    display: flex;   
    margin: 4px 46px 0 60px;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: transparent;
    border: none;    
    box-sizing: border-box;
}
.movies__more-adding:hover {
    opacity: 0.8;
}
.movies-error-title {
    color: #fff;
    text-align: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    grid-column: 1 / -1;
    margin: 68px auto 80px auto;
    padding: 0px 46px 10px 60px;    
  }

@media screen and (max-width:550px) {
    .movies__more-adding {
        width: 240px;
        height: 36px;    
    }
}