@keyframes preloader-inside-white {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }    
}

@keyframes preloader-inside-blue {
    0% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }    
}

@-webkit-keyframes preloader-inside-blue {
    0% {
        -webkit-transform: scale(0, 0);
    }
    30% {
        -webkit-transform: scale(0, 0);
    }
    100% {
        -webkit-transform: scale(1, 1);
    }
}

.preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;    
    padding: 0;    
    /* position: relative; */
    position: fixed;
    top: 50%;          /* Центрирование по вертикали */
    left: 50%;         /* Центрирование по горизонтали */
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    z-index: 10;       /* z-index для прелоадера, чтобы он был над другими элементами */
}
.preloader__initial {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

.preloader__container {
    width: 300px;
    height: 300px;
    position: relative;
}

.preloader__round {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    position: fixed;
    top: 50%;          /* Центрирование по вертикали */
    left: 50%;        /* Центрирование по горизонтали */     
    transform: translate(-50%, -50%); /* Смещение для точного центрирования */
    z-index: 10; 
    border-radius: 150px;
    -webkit-transform: translate(-50%, -50%); /* Добавлено для поддержки старых версий Safari */    
    background: linear-gradient(90deg, 
              rgb(67, 135, 244, 0.2) 0%,    
              rgba(9, 7, 154, 0.8) 33%, 
              rgba(6, 3, 91, 0.8) 66%, 
              rgba(13, 5, 63, 0.479) 100%);
}

.preloader__round::after,
.preloader__round::before {
    content: '';
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 150px;    
}

.preloader__round::after {
    background: white;
    animation: preloader-inside-white 1s ease-in-out infinite;
    -webkit-animation: preloader-inside-white 1s ease-in-out infinite; /* Добавлено для поддержки старых версий Safari */
}

.preloader__round::before {
    z-index: 10;   
    background: linear-gradient(90deg, 
              rgba(234, 193, 237, 0.6) 0%, 
              rgba(210, 131, 215, 0.8) 33%, 
              rgba(80, 19, 97, 0.8) 66%, 
              rgba(65, 2, 81, 0.6) 100%);
    animation: preloader-inside-red 1s ease-in-out infinite;
    -webkit-animation: preloader-inside-blue 1s ease-in-out infinite; /* Добавлено для поддержки старых версий Safari */
} 
