.register {
    width: 100%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;    
    max-width: 396px;
    min-width: 396px;
    height: 100vh;
}

.register__title {
    margin: 40px auto 40px 0;
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.register__form {
    display: flex;
    flex-direction: column;
}

.register__label {
    color: #8B8B8B;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.register__input {
    color: #FFF;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 8px;
    background: #2F2F2F;
    border: none;
    padding: 15px;
    margin: 9px 0 8px 0;
}

.register__input-red {
    color: #EE3465;
}
.register__error-server{
    margin-top: 37px;   
    color: #FF004C;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 13.31px;    
    height: 14px;
  
}

.register__submit:enabled {
    border-radius: 3px;
    background: #4285F4;
    color: #FFF;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    min-height: 45px;
    padding: 14px 2px 15px 0px;
    margin: 20px auto 17px auto; 
    border: none;
    cursor: pointer;    
}
.register__submit:hover{
    opacity: 0.8;
}
.register__submit:disabled { 
    width: 100%;
    border-radius: 3px;
    min-height: 45px;
    background-color: #F8F8F8;    
    color: #C2C2C2; 
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.94px;    
    cursor: default;
    border: none;
    pointer-events: none;
    padding: 14px 2px 15px 0px;
    margin: 20px auto 17px auto;    
  }

.register__caption {
    color: #8B8B8B;
    text-align: center;
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding: 0;
}

.register__link {
    color: #4285F4;
    margin-left: 3px;
    text-decoration: none;
}
.register__link:hover {
    opacity: 0.7;
}

@media screen and (max-width:768px) {
    .register {
        margin: 232px auto;
        padding: 0;
    }    
}

@media screen and (max-width:550px) {
    .register {
        margin: 56px 0 30px 0;
        align-items: center;
        max-width: 260px;
        min-width: 260px;        
    }

    .register__title {
        margin: 50px 0 80px 0;
    }

    .register__form {
        width: 100%;
    }
    .register__error-server{
        margin-top: 137px;        
    }

    .register__submit {
        font-size: 12px;
        margin: 20px auto 14px auto;
        padding: 17px 2px 15px 0px;
    }

    .register__caption {
        font-size: 12px;
    }

    .register__link {
        font-size: 12px;
        padding-left: 2px;
    }
}