body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #202020;
}

@import url(./vendor/normalize.css);
@import url(./fonts/fonts.css);

@import url(./components/App/App.css);
/* header */
@import url(./components/Header/Header.css);
@import url(./components/Logo/Logo.css);
@import url(./components/Account/Account.css);
@import url(./components/Menu/Menu.css);
@import url(./components/HeaderAuthMenu/HeaderAuthMenu.css);
@import url(./components/BurgerMenu/BurgerMenu.css);
@import url(./components/ContextBurgerMenu/ContextBurgerMenu.css);
/* footer */
@import url(./components/Footer/Footer.css);
/* main */
@import url(./components/Main/Main.css);
@import url(./components/Promo/Promo.css);
@import url(./components/AboutProject/AboutProject.css);
@import url(./components/Techs/Techs.css);
@import url(./components/AboutMe/AboutMe.css);
@import url(./components/Portfolio/Portfolio.css);
/* movies */
@import url(./components/Movies/Movies.css);
@import url(./components/SearchForm/SearchForm.css);
@import url(./components/FilterCheckbox/FilterCheckbox.css);
@import url(./components/Preloader/Preloader.css);
@import url(./components/MoviesCardList/MoviesCardList.css);
@import url(./components/MoviesCard/MoviesCard.css);
/* savedMovies */
@import url(./components/SavedMovies/SavedMovies.css);
/* profile */
@import url(./components/Profile/Profile.css);
/* register */
@import url(./components/Register/Register.css);
/* login */
@import url(./components/Login/login.css);
/* notFound */
@import url(./components/NotFound/NotFound.css);
/* Preloader */
@import url(./components/Preloader/Preloader.css);