.about-me {
    flex-shrink: 0;
    padding: 110px 0 115px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', 'Arial', sans-serif;
    align-items: stretch;
    width: calc(100% - 70px * 2);
    background: #202020;
    max-width: 1140px;
}

.about-me_header {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    padding: 0 0 23px 0;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid #DADADA;
    width: 100%;
}

.about-me__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 66px 0 101px 0;
    margin: 0;
    gap: 270px;    
}

.about-me__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
}

.about-me__title {
    color: #FFF;
    font-style: normal;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    width: 100%;
    margin: 0px auto 20px 0;
    display: flex;
    justify-content: flex-start;
}

.about-me__subtitle {
    color: #FFF;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: 0.118px;
    width: 100%;
    margin: 0 0 25px 0;
    display: flex;
    justify-content: flex-start;
}

.about-me__text {
    color: #FFF;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.011px;
    width: 100%;
    margin: 0 auto 99px 0;
    display: flex;
    justify-content: flex-start;
}

.about-me__link {
    color: #FFF;
    font-style: normal;
    font-size: 14px;
    line-height: normal;
    width: 100%;
    margin: 0 auto 0 0;
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
}
.about-me__link:hover {
    opacity: 0.7;
}

.about-me__photo {
    width: 270px;
    height: 327px;
    flex-shrink: 0;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

@media screen and (max-width:1050px) {
    .about-me__container {
        gap: 50px;
    }
}

@media screen and (max-width:768px) {
    .about-me {
        padding: 90px 0 81px 0;
        width: calc(100% - 50px * 2);
        max-width: 668px;
    }

    .about-me__container {
        padding: 66px 0 91px 0;
        gap: 49px;        
    }

    .about-me__title {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
        margin: 0 auto 16px 0;
        padding: 0;
    }

    .about-me__subtitle {
        font-size: 12px;
        line-height: 18px;
        margin: 0 auto 20px 0;
    }

    .about-me__text {
        font-size: 12px;
        line-height: 18px;
        max-width: 364px;
        margin: 0 auto 87px 0;
    }

    .about-me__photo {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width:550px) {
    .about-me {
        padding: 72px 14px 70px 14px;
        width: calc(100% - 14px * 2);
        align-items: center;
        max-width: 292px;
    }

    .about-me_header {
        font-size: 18px;
        letter-spacing: -0.72px;       
        padding: 1px 0 28px 0;
    }

    .about-me__container {
        flex-direction: column-reverse;
        justify-content: flex-start;
        padding: 60px 0 70px 0;
        align-items: center;
        justify-content: center;
        gap: 40px;        
    }

    .about-me__photo {
        margin-bottom: 0;
        width: 100%;
        max-width: 292px;
        height: 352px;
    }

    .about-me__info {
        max-width: 292px;
        max-width: 100%;
    }

    .about-me__title {
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
        margin: 0px auto 20px 0;
    }

    .about-me__subtitle {
        font-size: 11px;
        line-height: 16px;
        margin: 0 auto 20px 0;
    }

    .about-me__text {
        font-size: 11px;
        line-height: 16px;
        font-weight: 400;
        margin: 0 auto 40px auto;
    }
}